In [1]:
import os
import numpy as np

In [2]:
def create_table(size):
    if is_even(size):
        return [["0"]*(size) for i in range(size)]
    else:
        return "table size should be uneven"
    
    
def is_even(num):
    if (num % 2) == 0:
        #print("{0} is Even number". format(num))
        return False
    else:
        #print("{0} is Odd number". format(num))
        return True

    
def score(word):
    return len(word)*len(word)


def insert_first_word(table, word, orientation='horizontal', misalignment=0):
    middle_row = int(np.floor(np.shape(table)[0] / 2)) + misalignment
    j = 0
    if orientation == 'horizontal':
        for i in word:
            table[middle_row][j] = i
            j += 1
    elif orientation == 'vertical':
        for i in word:
            table[j][middle_row] = i
            j += 1
    else:
        sys.exit("Bad word orientation to put inside the table! Should be 'horizontal' or 'vertical'.")
    return table


def remove_nones_from_list(lst):
    return list(filter(None, lst))


def join_two_lists(lst1, lst2):
    return [*lst1, *lst2]


def remove_duplicates_from_2d_list(lst):
    newlist = []

    for i in joined_list:
        if i in newlist:
            continue
        else:
            newlist.append(i)

    return(newlist)

def tab(table, y, x):
    size = np.shape(table)[0]
    if (x < 0) or (y < 0) or (x >= size) or (y >= size):
        pass
    else:
        try:
            return [table[y][x], y, x]
        except:
            pass

In [3]:
tabela = create_table(5)
tabela = insert_first_word(tabela, "wojna",) # orientation="vertical")

In [ ]:
def find_full_(table):
    full = []
    size = np.shape(table)[0]
    for i in range(size):
        for j in range(size):
            if table[i][j] != "0":
                full.append([table[i][j], i, j])
        
    return full

In [9]:
lista2 = []
for item in lista:
    #print(item, item[1], item[2])
    y = item[1]
    x = item[2]
    lista2.append(tab(tabela, y - 1, x))
    lista2.append(tab(tabela, y + 1, x))
    lista2.append(tab(tabela, y, x - 1))
    lista2.append(tab(tabela, y, x + 1))

In [12]:
lista

[['b', 0, 2],
 ['a', 1, 2],
 ['w', 2, 0],
 ['o', 2, 1],
 ['j', 2, 2],
 ['n', 2, 3],
 ['a', 2, 4],
 ['k', 3, 2],
 ['a', 4, 2]]

In [13]:
lista2

[None,
 ['a', 1, 2],
 ['0', 0, 1],
 ['0', 0, 3],
 ['b', 0, 2],
 ['j', 2, 2],
 ['0', 1, 1],
 ['0', 1, 3],
 ['0', 1, 0],
 ['0', 3, 0],
 None,
 ['o', 2, 1],
 ['0', 1, 1],
 ['0', 3, 1],
 ['w', 2, 0],
 ['j', 2, 2],
 ['a', 1, 2],
 ['k', 3, 2],
 ['o', 2, 1],
 ['n', 2, 3],
 ['0', 1, 3],
 ['0', 3, 3],
 ['j', 2, 2],
 ['a', 2, 4],
 ['0', 1, 4],
 ['0', 3, 4],
 ['n', 2, 3],
 None,
 ['j', 2, 2],
 ['a', 4, 2],
 ['0', 3, 1],
 ['0', 3, 3],
 ['k', 3, 2],
 None,
 ['0', 4, 1],
 ['0', 4, 3]]

In [14]:
lista2 = remove_nones_from_list(lista2)
lista2

[['a', 1, 2],
 ['0', 0, 1],
 ['0', 0, 3],
 ['b', 0, 2],
 ['j', 2, 2],
 ['0', 1, 1],
 ['0', 1, 3],
 ['0', 1, 0],
 ['0', 3, 0],
 ['o', 2, 1],
 ['0', 1, 1],
 ['0', 3, 1],
 ['w', 2, 0],
 ['j', 2, 2],
 ['a', 1, 2],
 ['k', 3, 2],
 ['o', 2, 1],
 ['n', 2, 3],
 ['0', 1, 3],
 ['0', 3, 3],
 ['j', 2, 2],
 ['a', 2, 4],
 ['0', 1, 4],
 ['0', 3, 4],
 ['n', 2, 3],
 ['j', 2, 2],
 ['a', 4, 2],
 ['0', 3, 1],
 ['0', 3, 3],
 ['k', 3, 2],
 ['0', 4, 1],
 ['0', 4, 3]]

In [ ]:
lista2 = remove_nones_from_list(lista2)
joined = join_two_lists(lista, lista2)
joined = remove_duplicates_from_2d_list(joined)

In [ ]:
joined = join_two_lists(lista, lista2)
joined = remove_duplicates_from_2d_list(joined)
joined

In [ ]:
tabela

In [ ]:
tabela[0]

In [ ]:
for i in joined[:1]:
    row = i[1]
    col = i[2]
    size = np.shape(tabela)[0]
    print(i[0], row, col)

In [ ]:
def t(joint, tab, r, c):
    size_ = np.shape(joint)[0]
    size = np.shape(tab)[0]

In [ ]:
def test(table)
try:
        if (x_left < 0) or (x_left > size):
            pass
        xr = table[x_left][y]
    except IndexError as e:
        pass

In [ ]:
for index, x in np.ndenumerate(tabela):
    print(index, x)

In [ ]:
index

In [ ]:
type(index)

In [ ]:
os.getcwd()

In [ ]:
file_path = os.path.join("/home/cielak/Nauka/", "fivebyfive", "slowa.txt")

In [ ]:
with open(file_path) as f:
    lines = [line.rstrip() for line in f]

In [ ]:
len(lines)

In [ ]:
tabela = create_table(5)

In [ ]:
tabela[-3][0]

In [ ]:
range(5)

In [ ]:
i = 0
j = 0
for i,j in range(5):
    if tabela[i][j] ==